@import '../../scss/palette.scss';
@import '../../scss/variables.scss';

#app {
  background: #fff;

}

$font-family: Helvetica, Arial, Georgia, sans-serif;
$font-color: #333;

body, p, h1, h2, input, button {
    font-family: $font-family;
}

h1 {
  font-size: 32px;
  font-family: Georgia;
  font-weight: bold;
  letter-spacing: 6px;
  color: $color3;
  margin: $space 0 $space * 2 0;
  text-transform: uppercase;
  text-shadow: 0 0 3px #ccc;
  display: block;

  .sub-header {
    font-family: $font-family;
    font-weight: normal;
    font-size: 12px;
    display: block;
    margin-bottom: $space;
    text-shadow: none;
    letter-spacing: 4px;
    line-height: 1.8;
  }
}

.intro-background {
  background: $color4;
  opacity: .7;
}
.intro-text {
  max-width: 340px;
  margin: 0 auto;
  padding: $space 0;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  font-family: $font-family;

}

.main-container {
  text-align: center;
  margin: 0 auto;
  padding: $space 0;
  min-height: 400px;
  max-width: 720px;
}

.landing-page {
  .convert-section {
    margin: 0 auto;
    padding: $space;
    background: #fff;
    width: 100%;
  }
}


@media screen and (min-width: 800px) {
  .intro-background {
    margin: 0 $space;
  }
}
