@import '../../scss/palette.scss';
@import '../../scss/variables.scss';

#app {
  background: darkkhaki;
}


body, p, h1, h2, input, button {
    font-family: Helvetica, Arial, Georgia, sans-serif;
}

h1 {
  font-size: 44px;
  font-weight: normal;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  text-shadow: 0 0 8px;
}

.intro-background {
  background: #fff;
  opacity: .4;
  border-top: 1px solid #bbb;
}
.intro-text {
  max-width: 320px;
  margin: 0 auto;
  padding: $space;
  color: #000;
  font-size: .8rem;

}

.main-container {
  text-align: center;
  margin: 0 auto;
  padding: $space 0;
  min-height: 400px;
}

.landing-page {
  .convert-section {
    margin: 0 auto;
    padding: $space;
    border: 1px solid #bbb;
    border-left: none;
    border-right: none;
    background: #fff;
    width: 100%;
  }

}
