@import '../../scss/palette.scss';
@import '../../scss/variables.scss';

#app {
  background: #fff;

}


body, p, h1, h2, input, button {
    font-family: Helvetica, Arial, Georgia, sans-serif;
}

h1 {
  font-size: 36px;
  font-family: Georgia;
  font-weight: bold;
  letter-spacing: 5px;
  color: $color3;
  margin: $space 0;
  text-transform: uppercase;
  text-shadow: 0 0 1px;
}

.intro-background {
  background: $color4;
  opacity: .7;
}
.intro-text {
  max-width: 340px;
  margin: 0 auto;
  padding: $space 0;
  color: #fff;
  font-size: 16px;

}

.main-container {
  text-align: center;
  margin: 0 auto;
  padding: $space 0;
  min-height: 400px;
  max-width: 720px;
}

.landing-page {
  .convert-section {
    margin: 0 auto;
    padding: $space;
    background: #fff;
    width: 100%;
  }
}


@media screen and (min-width: 800px) {
  .intro-background {
    margin: 0 $space;
  }
}
