/* Coolors Exported Palette - coolors.co/ffe7fd-eef5f7-f4f0ed-f6f4ff-e7f5ff */

/* RGB */
$color1: rgba(255, 231, 253, 1);
$color2: rgba(238, 245, 247, 1);
$color3: rgba(244, 240, 237, 1);
$color4: rgba(246, 244, 255, 1);
$color5: rgba(231, 245, 255, 1);
