@import '../../scss/palette.scss';
@import '../../scss/variables.scss';

.download-container {
  min-height: 200px;

  p {
    font-size: 13px;
    color: #666;
  }
  .converted-audio {
  }
}

.convert-button {
  margin-top: $space;
  border: 1px solid $color3;
  border-radius: $radius;
  padding: $space;
  width: 100%;
  background: $color4;
  color: $white;
  text-shadow: 0 0 2px;
  cursor: pointer;
  text-transform: uppercase;

  &:hover,
  &:active,
  &:focus {
    box-shadow: 0px 0px 4px $color3;
    background: lighten($color4, 2%);
  }
  &.disabled {
    background: #ddd;
    box-shadow: 0 0 0;
    color: #fff;
    cursor: auto;
  }
}
