@import '../../scss/palette.scss';
@import '../../scss/variables.scss';

.download-container {
  min-height: 200px;

  p {
    font-size: 13px;
    color: #666;
  }
  .converted-audio {
  }
}

.convert-button {
  margin-top: $space;
  border: 1px solid #aaa;
  border-radius: $radius;
  box-shadow: 0px 0px 5px $gray;
  padding: $space;
  width: 100%;
  background: green;
  color: #fff;
  text-shadow: 0 0 2px;
  cursor: pointer;
  text-transform: uppercase;

  &:hover,
  &:active,
  &:focus {
    background: lighten(green, 2%);
  }
  &.disabled {
    background: #ddd;
    color: #fff;
    cursor: auto;
  }
}
