/* Coolors Exported Palette - coolors.co/ffe7fd-eef5f7-f4f0ed-f6f4ff-e7f5ff */

/* RGB */
$color1: #23231A;
$color2: #322F20;
$color3: #6A5837;
$color4: #988F2A;
$color5: #FE5F00;


$font-family: Helvetica, Arial, Georgia, sans-serif;
$font-color: #333;
$white: #fff;
$radius: 4px;
$space: 16px;
